body {
    width: 100wh;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #ff9744, #e77286, #23a6d5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

h1,
h6 {
    font-weight: 300;
    text-align: center;
}

.hello-world {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
}

.hello-world h1{
    color: #fff;
    font-family: 'Open Sans';
}

.itsme {
    display: block;
    color: #fff;
    text-align: center !important;
}

.social {
    width: 190px;
    margin: 30px auto;
}

.my-ico {
    margin: 0 10px;
    width: 40px;
}

.menu {
    width: 200px;
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.menu a {
    color: #fff;
    text-align: center;
    margin: 0 15px;
}

.menu a:hover {
    color: #fff;
}

.menu a i{
    font-size: 20px;
}

.toggle-body {
    width: 4rem;
    height: 2rem;
    background: white;
    border-radius: 2rem;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}

.toggle-body--on {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}

.toggle-btn {
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    top: 2px;
    left: 2px;
    background: white;
    border-radius: 2rem;
    background: #FC3164;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 130% 115%;
    transform-origin: 130% 115%;
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}

.toggle-btn--on {
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
    -webkit-transform: rotate(-357deg);
    transform: rotate(-357deg);
    background: #3dbf87;
    -webkit-transform-origin: 130% 150%;
    transform-origin: 130% 150%;
}

.little {
    font-size: 20px !important;
}

.hide {
    display: none;
    opacity: 0;
}